body{

  background: url("honeycomb.svg") no-repeat;
  background-size: cover;
  height: 1080px;
  
}
#game_area{
  height: 50%;
  width: 70%;
  background: #FFF;
  align: center;
  margin-top: 122px;
}
#logo{
    content: url(spell.png);
    width: 30em;
    height: 30em;
    margin-top: -145px;
    margin-left: 107px;
    position: absolute;
}
nav{
  height:200px;
}
nav ul{
    list-style-type: none;
    margin-left: 705px;
    padding-top: 63px;
    position: absolute;
}
nav ul li{
  float:right;
  display: inline;
}
nav ul li a{
    color: #000;
    padding: 0 125px;
    font-size: 36px;
    font-weight:bold;
}

nav ul li a:hover{
  text-decoration: none;
  color: rgb(231, 182, 19);
}