body{

  background: url("honeycomb.svg") no-repeat;
  background-size: cover;
  height: 1080px
  
}
#game_area{
  height: 533px;
  position: absolute;
  width: 1122px;
  background: #FFF;
  margin-left: 647px;
  margin-top: 77px;
  line-height: 533px;
  text-align: center;
}

#answer{
  font-size: 128px;
  font-weight: bold;
}

#logo{
    content: url(spell.png);
    width: auto;
    height: 12em;
    left: 13em;
    position: absolute;
}
nav{
  height:200px;
}
nav ul{
    list-style-type: none;
    margin-left: 705px;
    padding-top: 63px;
    position: absolute;
    width:1080px;
}
nav ul li{
  float:right;
  display: inline;
}
nav ul li a{
    color: #000;
    padding: 0 125px;
    font-size: 36px;
    font-weight:bold;
}

nav ul li a:hover{
  text-decoration: none;
  color: rgb(231, 182, 19);
}

object{
  width: 100px;
    margin-left: 165px;
    margin-top: 127px;
    position:absolute;
}

svg:hover > .cls-1 {
  fill: rgb(247, 250, 80);
}

svg:hover{
  cursor:pointer;
}

#card{
  width: 1100px;
  height: auto;
  position: absolute;
  margin-left: -548px;
  margin-top: 0px;
}
#speech{
  margin-top: 30px;
  margin-left: 370px;
}

*, ::after, ::before {
  box-sizing: inherit !important;
}