{% extends "layout.html" %} {% block header %}
<div id="letter_input">
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
    <object type="image/svg+xml" data="static/img/hexagon.svg" id="hex"></object>
</div>
<div id="game_area">
    <object type="image/svg+xml" data="static/img/flashcard.svg" id="card"></object>
    <object type="image/svg+xml" data="static/img/speaker.svg" id="speech"></object>
</div>
<script type="text/javascript" src="static/js/util.js"></script>
<script type="text/javascript" src="static/js/game.js"></script>

{% endblock %}