{% extends "layout.html" %} {% block header %}
<script type="text/javascript">
 function changeBg(){
    document.getElementsByTagName('body')[0].style.backgroundImage = "url(static/img/honeycombP.svg)";
  }
  window.onload = changeBg;
 console.log("ran")
</script>

<body>
  <br><br><br><br><br><br><br><br>
  <div class="container">
    <div>
      <h2 class="header">Register</h2>
      <form class="register">
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" class="form-control email" />
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" class="form-control password" />
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>

    <div class="login">
      <h2 class="header">Login</h2>
      <form>
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" class="form-control email" />
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" class="form-control password" />
        </div>
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

<div id=profile>

</div>
{% endblock %}